.app-style {
    background-color: #FCF6F5FF;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-icons{
    color: white;
}

.ui.table tr td{
  border-top: 0px !important;
}

footer {
  box-shadow: 0 50vh 0 50vh #FCF6F5FF;
}

.delete-button{
  padding-left: 80px;
  padding-right: 0;
}
