.app-style {
    background-color: #024731;
    height: 100vh;
}

.landing-icons{
    color: white;
}

.ui.center.aligned.container{
  color: white;
}

.ui.table tr td{
  border-top: 0px !important;
}